---
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/globals.css";
---

<BaseLayout
  title="wakatime.io - Resources and documentation for learning about WakaTime"
>
  <h1>Astro</h1>
  <Button id="test-btn">Click me!</Button>
</BaseLayout>

<script>
  const btn = document.getElementById("test-btn");
  btn?.addEventListener("click", () => alert("Hello, World!"));
</script>
