---
// https://docs.astro.build/en/basics/astro-components/#component-props
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground">
    <!-- https://docs.astro.build/en/basics/astro-components/#slots -->
    <slot />
  </body>
</html>
