---
import "@/styles/globals.css";

// https://docs.astro.build/en/basics/astro-components/#component-props
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-background text-foreground">
    <!-- https://docs.astro.build/en/basics/astro-components/#slots -->
    <slot />
  </body>
</html>
